.recipes {
  width: 500px;
  background: #9cb1e2;
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: auto;
}

.title {
  text-align: center;
}

.picture {
  display: block;
  margin: auto;
}

.section {
  border: 2px solid black;
  padding: 6px;
}
